<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <a href="#" class="navbar-brand"><b>Recipe Book</b> </a>
    </div>
    
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li><a href="#" (click)="onselect('recipes')">Recipe</a></li>
        <li><a href="#" (click)="onselect('Shopping-list')">Shopping List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/signup" >Register</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" role="button">Manger<span class="caret"></span></a>
         </li>  
         <ul class="dropdown-menu">
             <li><a href="#">Save Data</a></li>
             <li><a href="#">Save Data</a></li>
         </ul>
    </ul>
</div>
</div>
</nav>