.artical-wrapper{
    padding: 30px 20 px;
    background:black;
    height: 120000%;
    width: 150%;
}

.ravi{
    background-color: darkcyan;
    width: 980px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}