<h1 style="text-align: center;" class="ravi">Home Page</h1>
<hr>    

<!-- <app-content>
    <h1 class="ravi">h iam ravi</h1>
    <h1 teja>h iam teja</h1>

</app-content> -->
    <!-- <form class="ravi">
            <div class="form-field">
                    <label>Name</label><input>
                </div>
                <div class="form-field">
                    <label >password</label><input>
            </div>
    </form> -->

    <!-- <h1 class="ravi">Hi iam ravi</h1>
    <h2>Hi iam teja</h2>
    <h2 ravi>This is attribute</h2> -->

   