<!-- styling elements dynamically with ng style -->
<h1>styling elements dynamically with ng style</h1>
<p [ngStyle]="{backgroundColor: getcolour()}">with ide {{clientid}} is {{clientstatus}}</p>
<br/>
<br/><br/>
<!-- <button class="btn btn-primary" (click)="onToggledetails()">DisplayDetails</button>
<p *ngIf="showsecret">Secret password =ravi</p>
<div *ngFor="let lonItem of log; let i=index" 
[ngStyle]="{backgroundColor: i >=4? 'blue' : 'transparent'}"
[ngClass]="{'white-text': i>=4}">{{lonItem}}</div>
     -->