
<!-- <table border="1" class="table">
    <tr>
        <th>ID</th>
        <th>productname</th>
        <th>productDescription</th>
        <th>produCategory</th>
    </tr>
    <tr >
        <td>{{data.id}}</td>
        <td>{{data.productname}}</td>
        <td>{{data.productDescription}}</td>
        <td>{{data.produCategory}}</td>
       
    </tr>
</table> -->
<table border="1" class="table">
    <tr>
        <th>ID</th>
        <th>username</th>
        <th>email</th>
        <th>companyname</th>
    </tr>
    <tr >
        <td>{{data.id}}</td>
        <td>{{data.username}}</td>
        <td>{{data.email}}</td>
        <td>{{data.companyname}}</td>
       
    </tr>
</table>
 


<div mat-dialog-actions>
  <button class="btn" mat-button mat-raised-button color="warn" (click)="onNoClick()">Close</button>
</div> 