<div class="sidebar">
<ul>

    <li>
        <a routerLink="/mainLogin"><b>Login</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/EmpCreate"><b>EmpCreate</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/EmpList"><b>EmpList</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/ProductCreate"><b>ProductCreate</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/ProductList"><b>ProductList</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/serives"><b>Serives</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/materialserives"><b>Scrolling</b></a>
    </li>
  

    <!-- <li>
        <a routerLink="/home"><b>Home</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/about"><b>About</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/contact"><b>Contact</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/user"><b>User</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/parent"><b>Parent</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/child"><b>Child</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/content"><b>Content</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/ngTemplate"><b>Ng-Template</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/serives"><b>Serives</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/filter"><b>FilterPipes</b></a>
    </li>
    <br>
    <li>
        <a routerLink="/parentHooks"><b>Hooks</b></a>
    </li> -->
</ul>
</div>