<!-- Interface -->

<!-- <p>The emp is: {{empid}}</p>
<p>The empname is: {{empname}}</p>
<p>The empsalary is: {{salary}}</p> -->


<!-- custom component -->
<!-- <app-ng-for></app-ng-for>-->
<!-- <app-ng-for></app-ng-for>  -->
  <!-- <app-databinding></app-databinding>      -->
 <!-- <app-parent></app-parent> -->
  <!-- <app-filter></app-filter> -->
  <!-- <app-http></app-http>   -->


<!-- Token Autentication -->
          
<!-- <app-tokin></app-tokin> -->

    <!-- <app-tablemat></app-tablemat> -->
  


  <!-- <app-dropdown></app-dropdown>   -->

   <!-- <app-product></app-product>  -->
 
 <!-- <app-directive></app-directive>  -->
 <!-- <app-depen1injenc></app-depen1injenc> 
  <app-depen2injenc></app-depen2injenc>      -->
<!-- <app-server></app-server> -->
 <!-- <app-forms></app-forms>   -->
 <!-- <app-pipes></app-pipes>   -->
<!-- <app-authentication></app-authentication>  -->
   
<!-- <app-header (featureselected)="onNavigate($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col">
             
               
                <app-recipes *ngIf="loadedfeature === 'recipes'"></app-recipes>
               
                <app-shopping-list *ngIf="loadedfeature === 'Shopping-list'"></app-shopping-list>
                
        </div>
    </div>
</div> -->
<!-- <app-main-login></app-main-login> -->
<!-- ROUTING -->

<div class="container-fluid">
  <app-header1></app-header1>

<div class="d-flex content-wrapper">

      <div class="col-md-3">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-md-8">
          <app-artical></app-artical>
      </div>

</div>
 
</div>      

<!-- <app-sign-up></app-sign-up> -->


<!-- <app-footer></app-footer> -->


<!-- Curd Operation -->
<!-- <app-producttableheader></app-producttableheader> -->










 <!-- <app-module1-component></app-module1-component>
     
    
  <div class="container-fluid">
      <div class="row p-8">
          <router-outlet>

          </router-outlet>
      </div>
  </div>
        -->
        <!-- <router-outlet>

        </router-outlet> -->