<h1 style="text-align: center;">module3-component works!</h1>

 <div class="container">
    <div class="row pt-15">
        <div class="col-md-6 mx-auto">
            <div class="card-rounded-0">
                <div class="card-boday">
                     <form #productdata="ngForm" (ngSubmit)="addnewproduct(productdata.value)">
                
                                <div class="form-group">
                                    <label><b>ProductName</b></label>
                                    <input type="text"  
                                    id="productname" 
                                    class="form-control"  
                                    placeholder="Enter your ProductName...."
                                    required 
                                    [(ngModel)]="productname"
                                    name="productname" 
                                    #product="ngModel" 
                                    minlength="3"
                                    maxlength="10" ngModel>
                                
                                   

                            </div>

                                <div class="form-group">
                                    <label ><b>productDescription</b></label>
                                    <input type="text"  
                                    class="form-control"  
                                    autocomplete="off" 
                                    placeholder="Enter your productDescription...."
                                    required 
                                    [(ngModel)]="productDescription"
                                    name="productDescription"  id="productDescription" 
                                  
                                    #productdesp="ngModel" ngModel>
                                  
                                </div>
                                
                                <div class="form-group">
                                <label><b>produCategory</b></label>
                                <input type="text"  
                                id="produCategory" 
                                class="form-control"  
                                placeholder="Enter your produCategory...."
                                required 
                                [(ngModel)]="produCategory"
                                name="produCategory" 
                                #producateg="ngModel"
                                minlength="4" ngModel
                                >
                               
                                </div>

                                <div class="form-group">
                                    <a class="btn btn-default" routerLink="/module">Cancel</a>
                                    <!-- <button [disabled]="saving" class="btn btn-primary">
                                        <span *ngIf="saving" class="spinner-border spinner-border-sm mr-1"></span>
                                        Save
                                    </button> -->
                                </div>

                         
                        </form>  

                       

                </div>
              
            </div>
        </div>
    </div>
</div>  