<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a routerLink="/home" class="navbar-brand">
            <b style="color: white;">User Management</b> </a>
      </div>
      
      <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/Recipe" style="color: white;">Recipe</a></li>
                <li><a routerLink="/Shopping" style="color: white;">Shopping</a></li>
                <li><a routerLink="/login" style="color: white;">Login</a></li>
                <li><a routerLink="/module" style="color: white;">Module</a></li>
            </ul>   
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/authentication" style="color: white;">Register</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" style="color: white;">Manger<span class="caret"></span></a>
                </li>  
                <ul class="dropdown-menu">
                     <li><a href="#">Save Data</a></li>
                      <li><a href="#">Save Data</a></li>
                 </ul>
            </ul>
    </div>

   
  </div>
</nav>