.table,td,th{
    color: aliceblue;
    background-color: darkcyan;
    text-align: center;
}
  
  .table{
    box-sizing: border-box;
    border: black;
    width: 100%;
  }

th{
    background-color: black;
    padding-left: 8px;
}